SmartNode/node-red/flows_mc-guozhong.json
[{"type":"tab","id":"8b8ba3d7.2ed61","label":"Flow 1"},{"type":"tab","id":"a1c6c2e4.7cfae","label":"Flow 2"},{"id":"34fd5034.0075e","type":"serial-port","z":"8b8ba3d7.2ed61","serialport":"COM11","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"d9bb8236.99757","type":"serial-port","z":"8b8ba3d7.2ed61","serialport":"COM11","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false},{"id":"d5dd5af.474e2a8","type":"inject","z":"8b8ba3d7.2ed61","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":130,"y":123,"wires":[["51fcf9ea.1d1b28"]]},{"id":"51fcf9ea.1d1b28","type":"debug","z":"8b8ba3d7.2ed61","name":"","active":false,"console":"false","complete":"false","x":374,"y":239,"wires":[]},{"id":"c46bb301.ac6ec","type":"LED","z":"8b8ba3d7.2ed61","name":"","digitalPin":"2","x":455,"y":101,"wires":[]}]