SmartNode/node-red/lib/flows/xpider-neurons
[{"id":"6299ab10.064cc4","type":"serial-port","z":"a1c6c2e4.7cfae","serialport":"COM6","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"0","bin":"bin","out":"time","addchar":false},{"id":"4a3729dd.164518","type":"inject","z":"a1c6c2e4.7cfae","name":"","topic":"","payload":"classify","payloadType":"str","repeat":"","crontab":"","once":false,"x":197,"y":541,"wires":[["ecf19741.9bfce8"]]},{"id":"ad205db8.425be","type":"inject","z":"a1c6c2e4.7cfae","name":"","topic":"","payload":"learn","payloadType":"str","repeat":"","crontab":"","once":false,"x":200.5,"y":493,"wires":[["ecf19741.9bfce8"]]},{"id":"e93ef492.deb5b8","type":"inject","z":"a1c6c2e4.7cfae","name":"","topic":"","payload":"none","payloadType":"str","repeat":"","crontab":"","once":false,"x":198.5,"y":437,"wires":[["621ad819.573228","ecf19741.9bfce8"]]},{"id":"153ed829.b82288","type":"switch","z":"a1c6c2e4.7cfae","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","outputs":3,"x":793,"y":268,"wires":[["a931c7a8.a16f88","1dfa79f4.1c3f86"],["227cd95a.fee5e6"],["6cb51b98.eea724"]]},{"id":"2711c1e6.66a29e","type":"delay","z":"a1c6c2e4.7cfae","name":"","pauseType":"delay","timeout":"3","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1133,"y":224,"wires":[["9241461d.908108"]]},{"id":"80394ce1.83899","type":"delay","z":"a1c6c2e4.7cfae","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1126.5,"y":157,"wires":[["7741f2ee.434c9c"]]},{"id":"78a35fc1.b676e","type":"curieNeurons","z":"a1c6c2e4.7cfae","name":"curieNeurons","inputKey":"input","outputKey":"output","x":638.6428527832031,"y":268.4285717010498,"wires":[["153ed829.b82288","66e51b50.476984"]]},{"id":"86a5c71e.8b4378","type":"serial in","z":"a1c6c2e4.7cfae","name":"","serial":"6299ab10.064cc4","x":90,"y":51,"wires":[["2e7cc39.4a2b33c"]]},{"id":"2e7cc39.4a2b33c","type":"Xpider","z":"a1c6c2e4.7cfae","name":"","x":114,"y":178,"wires":[["5f055c37.a28f64"]]},{"id":"f30f6331.f341f","type":"serial out","z":"a1c6c2e4.7cfae","name":"","serial":"6299ab10.064cc4","x":1317,"y":408,"wires":[]},{"id":"621ad819.573228","type":"XpiderAction","z":"a1c6c2e4.7cfae","action":"stop","name":"stop","walkspeed":0,"rotatespeed":0,"eyeangle":0,"lightLR":0,"lightLG":0,"lightLB":0,"lightRR":0,"lightRG":0,"lightRB":0,"x":396,"y":423,"wires":[[]]},{"id":"5f055c37.a28f64","type":"XpiderSenser","z":"a1c6c2e4.7cfae","senser":"distance","name":"","x":256,"y":191,"wires":[["944bb409.b3e7e8"]]},{"id":"a931c7a8.a16f88","type":"XpiderAction","z":"a1c6c2e4.7cfae","action":"light","name":"light-on","walkspeed":0,"rotatespeed":0,"eyeangle":0,"lightLR":"30","lightLG":"120","lightLB":"80","lightRR":"255","lightRG":0,"lightRB":0,"x":957,"y":174,"wires":[["80394ce1.83899","f30f6331.f341f"]]},{"id":"6cb51b98.eea724","type":"XpiderAction","z":"a1c6c2e4.7cfae","action":"stop","name":"stop","walkspeed":0,"rotatespeed":0,"eyeangle":0,"lightLR":"30","lightLG":"120","lightLB":"80","lightRR":"255","lightRG":0,"lightRB":0,"x":958,"y":333,"wires":[["f30f6331.f341f"]]},{"id":"7741f2ee.434c9c","type":"XpiderAction","z":"a1c6c2e4.7cfae","action":"light","name":"light-off","walkspeed":0,"rotatespeed":0,"eyeangle":0,"lightLR":"0","lightLG":"0","lightLB":"0","lightRR":"0","lightRG":0,"lightRB":0,"x":1271,"y":158,"wires":[["f30f6331.f341f"]]},{"id":"1dfa79f4.1c3f86","type":"XpiderAction","z":"a1c6c2e4.7cfae","action":"sport","name":"sport","walkspeed":"80","rotatespeed":"80","eyeangle":0,"lightLR":"30","lightLG":"120","lightLB":"80","lightRR":"255","lightRG":0,"lightRB":0,"x":957,"y":222,"wires":[["2711c1e6.66a29e","f30f6331.f341f"]]},{"id":"9241461d.908108","type":"XpiderAction","z":"a1c6c2e4.7cfae","action":"sport","name":"walk","walkspeed":"80","rotatespeed":"0","eyeangle":0,"lightLR":"30","lightLG":"120","lightLB":"80","lightRR":"255","lightRG":0,"lightRB":0,"x":1294,"y":224,"wires":[["f30f6331.f341f"]]},{"id":"227cd95a.fee5e6","type":"XpiderAction","z":"a1c6c2e4.7cfae","action":"sport","name":"walk","walkspeed":"80","rotatespeed":"0","eyeangle":0,"lightLR":"30","lightLG":"120","lightLB":"80","lightRR":"255","lightRG":0,"lightRB":0,"x":972,"y":273,"wires":[["f30f6331.f341f"]]},{"id":"944bb409.b3e7e8","type":"dataIn","z":"a1c6c2e4.7cfae","name":"dataIn","inRules":[{"name":"distance"}],"outkey":"input","x":427.36669921875,"y":199.933349609375,"wires":[["78a35fc1.b676e"]]},{"id":"e0f958dc.a20648","type":"dataOut","z":"a1c6c2e4.7cfae","name":"dataOut","inRules":[{"name":"category_1"},{"name":"category_2"}],"outkey":"output","x":424.36669921875,"y":308.433349609375,"wires":[["78a35fc1.b676e"]]},{"id":"ecf19741.9bfce8","type":"controller","z":"a1c6c2e4.7cfae","name":"","outkey":"Mode","x":399,"y":485,"wires":[[]]},{"id":"2d81275.88789d8","type":"cateinject","z":"a1c6c2e4.7cfae","name":"category_1","catename":"category_1","payload":"1","x":201,"y":263,"wires":[["e0f958dc.a20648"]]},{"id":"e2203075.21449","type":"cateinject","z":"a1c6c2e4.7cfae","name":"category_2","catename":"category_2","payload":"2","x":201,"y":321,"wires":[["e0f958dc.a20648"]]},{"id":"69755ef.1a062a","type":"inject","z":"a1c6c2e4.7cfae","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":750,"y":92,"wires":[["a931c7a8.a16f88"]]},{"id":"66e51b50.476984","type":"debug","z":"a1c6c2e4.7cfae","name":"","active":true,"console":"false","complete":"payload","x":591,"y":137,"wires":[]}]